.gameCard{
    font-size:30px;
    text-align:center;
    border: 1px solid #FFF;
    height:80px;
    width: 60px;
    margin: 5px 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background:#0f6e92;
    font-size: 25px;
  }

.gameCard .center-icon {
    text-align: center;
    margin: auto;
    color: #fff;
}